.movie-card {
  overflow: hidden;
  box-shadow: var(--bs-card);
  border-radius: 0.8rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card-head {
  /* height: 50px; */
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.card-head > img {
  display: block;
  width: 100%;
  /* aspect-ratio: 16/9; */
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s ease-in-out;
}

.movie-card:hover > .card-head > img {
  transform: scale(1.1);
}

.card-body {
  padding: 0.5rem 0.3rem 0 0.3rem;
}

.card-body-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.card-body-title {
  text-transform: capitalize;
  font-weight: 600;
}

.card-body-rating {
  color: var(--text-color-light);
}
