@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary-color: hsl(0, 0%, 100%);
  --bg-secondry-color: hsla(0, 0%, 85%, 1);
  --text-color-primary: hsla(285, 0%, 29%, 1);
  --text-color-light: hsla(285, 0%, 61%, 1);
  --bs-card: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  --bs-search: 0px 2px 4px 0px hsla(285, 0%, 61%, 1);
  --font-size-primary: 0.8rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
}

body {
  margin: 0;
  background-color: var(--bg-primary-color);
  color: var(--text-color-primary);
  font-size: var(--font-size-primary);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.35;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color: inherit;
}
